<!--users/templates/registration/login.html-->

{% extends 'base.html' %}

{% block content %}

<style>
  body {
    background-color:#F38E61;
    background-image: linear-gradient(#F3B861, #F38E61);
    background-repeat: no-repeat;
  }
</style>
<center><a href="{% url 'home' %}"><h1>Jimmy's Lefties</h1></a>
<h2>Login</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
</form>

<br>
<a href="{% url 'register' %}">Register</a><br>
</center>
{% endblock %}