<!--users/templates/registration/password_change_form.html-->

{% extends 'base.html' %}

{% block content %}

<style>
  body {
    background-color:#F38E61;
    background-image: linear-gradient(#F3B861, #F38E61);
    background-repeat: no-repeat;
  }
</style>
<center><a href="{% url 'home' %}"><h1>Jimmy's Lefties</h1></a></center>
<div style="width: 60%; margin: auto;">
<h2>Change password</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change">
</form>

<a href="{% url 'home' %}">Back to home</a>
</div>
{% endblock %}